#headerDiv{
  background: #ADD8E6;
  background: -webkit-linear-gradient(#ADD8E6, yellow);
}
button{
  border-radius: 5px;
  background: #B0C4DE;
}
button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
